<h2>Celebrity profile</h2>

<div>
  Name: {{celebrity.name}}
</div>
<div>
  Occupation: {{celebrity.occupation}}
</div>
<div>
  Motto: {{celebrity.catchPhrase}}
</div>
<a href="/celebrities/{{celebrity.id}}/edit">Edit</a>


